.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;



}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";

}

.profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1 {
    font-size: 40px;
    font-family: cursive;

}

.primary-text {
    color: (--white);

}

.colz-icon {
    color: wheat;
}

.button {
    color: white;
}

.highlighted-text {
    color:cyan;
    /* color: rgba(255, 60, 0, 0.903); */
    font-weight: 700;
}

.profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.button-one {
    margin-right: 20px;
    border: 1px solid white;
    /* background-color: rgb(10, 8, 31); */
    /* background: linear-gradient(#00ccff,#0e1538,#d400d4); */
    font-weight: 700;
    box-shadow: 0 0 3px rgba(0, 255, 255, 0.669),0 0 25px rgba(0, 255, 255, 0.269) ;
    /* color: rgb(253, 42, 5); */
    border-radius: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 7px;
}

.button-one:hover {
    /* background-color: orangered;
    color: black; */
    transition: 0.5s;
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.365),
            0 0 25px rgba(0, 255, 255, 0.472), 0 0 50px rgba(0, 255, 255, 0.307),
            0 0 100px cyan, 0 0 200px rgba(0, 255, 255, 0.197);

}


/* start form here  */
.glow-on-hover {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #00eeff, #7fcbf4, #6eb3fc, #00d5ff9b, #00ddff89, #028ea399, #7a00ff, #057f98, #28eeb3c8);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* end here  */

/* .profile-options .highlighted-btn {
    margin: 0 0 0 28px;
    color: wheat;
    font-weight: 500;
    background-color: orangered;
    border-radius: 12px;

}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    color: white;
    background-color: cornsilk;
    color: #111;
} */

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px cornsilk;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;

}

.profile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url('../../assets/Home/images/jahid.png');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;

}

.colz .colz-icon a {

    padding: 8px;
    margin: 3px;
    /* padding-left: 0px; */
    background-color: whitesmoke;
    border-radius: 12px;



}

.colz .colz-icon a:hover {
    transform: scale(1.5);
}

@media screen and (max-width : 1110px) {
    .profile-picture {
        margin: 0 0px 0 80px;
    }

    .profile-details-name {
        font-size: 20px;
    }

    .profile-details-role .primary-text {
        font-size: 12px;
    }

    .profile-options .btnn {
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }

}

@media screen and (max-width : 910px) {
    .profile-picture {
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}

@media screen and (max-width : 810px) {
    .profile-picture {
        margin: 0 !important;
    }

    .profile-parent {
        flex-direction: column;
        margin: 40px 0 0 0;
    }

    .profile-options {
        display: flex;
        justify-content: space-evenly;
    }

    .profile-details {
        margin: 25px 0 0;
    }

    .profile-options .highlighted-btn {
        margin: 0 !important;
    }

    .profile-options .profile-details-role {
        text-align: center;
    }
}

@media screen and (max-width : 375px) {
    .profile-picture {
        height: 275px;
        width: 275px;
        margin-top: -90px;

    }

    .profile-details {
        width: 90%;
    }

}