.about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 35% 50%;
    gap: 15%;

}

.full-about-section {
    background: #24263B;

    padding-top: 12px;
    padding-bottom: 34px;
    border-radius: 8px;
}

.about-heading {
    color: cyan;
    font-weight: 700;

}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, rgb(16, 0, 34), transparent);
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);

}

.about_me-image:hover {
    transform: rotate(0);
    transition: 0.5s ease-out;
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

}

.about_card {
    /* background: rgb(228, 124, 38); */
    background: rgb(8, 128, 8);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: 500;
    padding: 8px;
}

.about_icon {
    background-color: cornsilk;
    border-radius: 8px;
}

.about_card:hover {
    background: orangered;
    color: black;
    border-color: #040d66;
    transition: 0.5s ease-out;
    cursor: default;

}

.about_card h5 {
    font-size: 1.00rem;
}

.about_card small {
    font-size: 0.7rem;
    color: white;
}

.highlighted-btnn {

    color: wheat;
    font-weight: 500;
    background-color: orangered;
    border-radius: 12px;
    padding: 7px;


}

.button-a {
    text-align: left;

}

.highlighted-btnn:hover {
    background-color: cornsilk;
    color: black;

}

.about_content p {
    margin: 2rem 0 2.6rem;
    text-align: left;
    color: white;
}

@media screen and (max-width :1024px) {
    .about_container {
        display: grid;
        grid-template-columns: 1fr;
    }



    about.me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }

}

@media screen and (max-width: 600px) {
    .about_me {
        overflow-x: hidden !important;
        margin-bottom: 15px;



    }

    .about_me-image {
        width: 350px;
        height: 350px;
    }

    .about_cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }

}